extends base.pug



block content
    h4 Marketplace AJAX
    p Data on this page is loaded with Ajax

    div.container-fluid
        div.row

            div.col-md-12
                div.row#markets

